* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}

.menu {
    order: 1;
}

.account {
    order: 3;
}

.banner {
    order: 2;
}

#headerImages {
    border-radius: 20%;
}

.searchbox {
    margin: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: imherit;
    /* width: 500px;*/
}

input[type=date] {
    padding: 6px 10px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.searchbox input[type=submit] {
    background: url(images/filter.png);
    border: 0;
    border-radius: 20%;
    height: 35px;
    width: 35px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section {
    display: flex;
    background-color: inherit;
}

.imageBox {
    display: flex;
    justify-content: flex-end;
    border-radius: 5%;
    width: 375px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.information {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: inherit;
    justify-content: space-between;
    padding: 15px;
    width: 375px;
}

.button_info_right {
    align-self: flex-end;
    padding-bottom: 20px;
}

.button_info_left {
    align-self: flex-start;
    padding-bottom: 20px;
}

.information input[type=button] {
    background-color: #606060;
    border: 0px;
    border-radius: 5%;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

footer {
    margin-top: 50px;
    background: url(images/footer/footer.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 480px;
    padding-right: 480px;
}



.wrapper {
  height:605px;
  width:100%;
  background-color:#EAEAEA;
  margin-bottom:0px;
}

.container {
  display:flex;
  justify-content: space-around;
  text-align:center;
  background-color: #12355B;
  color:white;
}

.lefttxt {
  height:200px;
  width:600px;
  flex-grow:1;
  display:flex;
  flex-direction:column;
  justify-content: center;
  font-family: arial, helvetica;
  font-size: 17px;
  font-weight: lighter;
}
.img {
  height:20px;
  width:322px;
}

.main {
  font-family: arial, helvetica;
  font-size: 17px;
  font-weight: lighter;
  width:97%;
  padding:20px;
  height:365px;
  background-color:lightgray;
}

.maintxt h1 {
  color:red;
}

.maintxt em{
  color:red;
}
.maintxt div p{
  color:darkslategray;
  /* margin:20px; */
  padding:10px;
}
