* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f5f5f5;
}

header {
    display: flex;
    background-image: red;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}

.menu {
    order: 1;
}

.account {
    order: 3;
}

.banner {
    order: 2;
}

#headerImages {
    border-radius: 20%;
}

.searchbox {
    margin: 25px;
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: red;
}

input[type=date] {
    padding: 6px 10px;
    margin: 4px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.searchbox input[type=submit] {
    background: url(images/filter.png);
    border: 0;
    border-radius: 20%;
    display: block;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}